* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

:root {
  --bg-color: #313131;
  --text-color: #fff;
  --espacamento: 80px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    padding: 0 16px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}